/* Root & Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --cinza-escuro: #4F6D7A;
    --cinza-medio: #C0D6DF;
    --cinza-claro: #DBE9EE;
    --azul-claro: #4A6FA5;
    --azul-escuro: #166088;
}

.bold {
    font-weight: bold;
}

/* Cabeçalho */

header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--cinza-medio);
    border-bottom: 1px solid var(--azul-escuro);
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-left: 10px;
    color: var(--cinza-escuro);
}

header h1:hover {
    color: var(--azul-claro);
    border-bottom: 4px solid var(--azul-escuro);
    transition: .2s;
}

header a {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: var(--azul-claro);
    transition: .2s linear;
}

header a:hover {
    font-size: 1.1em;
    color: var(--cinza-escuro);
}

.h-links {
    display: flex;
    justify-content: right;
    margin: auto;
    width: 100%;
}

header ul {
    padding-right: 30px;
    columns: 3;
    column-gap: 20px;
    list-style: none;
    text-align: center;
}

/* Conteúdo principal */

main {
    min-height: 60vh;
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--cinza-medio);
    padding: 60px;
}

hr {
    padding: .4px;
    background-color: var(--azul-escuro);
}

footer p {
    color: var(--cinza-escuro);
    padding: 20px;
}

footer a {
    color: var(--azul-claro);
    text-decoration: none;
    transition: .4s;
}

footer a:hover {
    font-size: 1.1em;
    color: var(--cinza-escuro);
    border-bottom: 2px solid var(--azul-escuro);
}